body { /*mengatur warna dan jenis font*/
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #424242;
}

header { /*mengatur background pada logo*/
    background-color: #8BCBE6;
    padding: 20px;
    text-align: center;
}

header img { /*mengatur logo*/
    max-width: 300px;
}

.hero { /*mengatur background pada slider*/
    background: linear-gradient(to bottom, #8BCBE6, #ffffff);
    width: 100%;
}

.carousel-item { /*mengatur posisi banner pada slider*/
    height: auto;
    padding: 20px; 
}

.carousel-item img { /*mengatur ukuran banner pada slider*/
    object-fit: contain; 
    height: 160px; 
}

.features { /*mengatur grid pada pilihan menu*/
    margin: 30px 120px 0px;
}

.features .card { /*mengatur background dan layout masing-masing pilihan menu*/
    margin-bottom: 20px;
    border: none;
    text-align: center;
}

.features .card img { /*mengatur icon pilihan menu*/
    max-width: 230px;
    margin: auto;
    border-radius: 20px;
}

.features .card-body { /*mengatur jarak text dengan icon pada pilihan menu*/
    padding: 10px;
}

.contact { /*mengatur footer*/
    background-color: #8BCBE6;
    color: #424242;
    padding: 20px 0px 5px;
    text-align: center;
}

.contact p { /*mengatur layout text pada footer*/
    margin: 0px;
}

.contact a { /*mengatur bagian email*/
    color: #424242;
}

.contact a:hover { /*mengatur bagian email ketika arahkan kursor*/
    text-decoration: underline;
}

.social-icons img { /*mengatur ukuran icon bagian footer*/
    margin: 20px 5px 5px;
    width: 26px; /*mengatur lebar icon footer*/
    height: 26px; /*mengatur tinggi icon footer*/
}